* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header and nav styles */
header {
    background-image: url('../images/banner/banner2.png');
    position: absolute;
    display: flex;
    width: 1600px;
    height: 809px;
    top: 0px;
}

.header {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.text1 {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}

.btn-primary {
    background-color: #757575;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
}

/* second paraghraph */
main {
    position: absolute;
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    align-items: center;
}

main {
    background-image: url('../images/person.png');
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.second-header {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
}

.secondp {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.liststyle {
    position: absolute;
    width: 315px;
    height: 27.12px;
    left: 896px;
    top: 1416px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* third paraghraph */
.thirdh {
    background-image: url('../images/gradient3.png');
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2216.3px;
    border-radius: 8px;
}

.thirdp {
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2275.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: black;
}

.btn-primary2 {
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2393.3px;
    color: purple;
}

/* contect-section */
.contact {
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2646.3px;
    background: #151414;
}

.section-title {
    width: 148px;
    height: 53px;
    left: 230px;
    top: 2776.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: white;
}

.section-description {
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2845.3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.info {
    width: 184px;
    height: 26px;
    left: 230px;
    top: 2947.3px;
}
